.container {
  position: relative;
  z-index: 9;
  cursor: default;
  margin-right: 0;
  margin-left: auto;
  width: fit-content;
  padding: 20px;
  color: #616161;
}
.container ul {
  margin-top: 10px;
  position: absolute;
  text-align: right;
  list-style: none;
  right: 0;
  padding: 15px 15px;
  display: none;
}
.container:hover ul {
  display: block;
  width: 100vw;
  background-color: #eee;
  border-radius: 0 0 4px 4px;
  box-shadow: 8px 10px 12px rgb(136, 136, 136);
}
.container ul li {
  padding: 8px;
  color: #616161;
  top: 100%;
}
.container ul :hover {
  background-color: #fff;
}
