.product {
  background-color: #eee;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product .card {
  margin: 10px;
  border-radius: 15px;
}
.product {
  .ant-card {
    padding: 8px;
    border-radius: 15px;
  }
}
.buttom:hover {
  color: rgb(6, 159, 248) !important;
  background-color: rgb(9, 26, 80) !important;
}

