.noproductbasket {
  width: 500px;
  height: 300px;
  background-color: #eee;
  margin-top: 70px;
  margin-left: 820px;
}
.productbasket {
  text-align: right;
  margin-right: 30px;
  margin-top: 30px;
}
