.swiper1 {
  width: 100%;
  background: none;
  .img {
    width: 60%;
  }
  margin: 20px 0;
}
.swiper1 .mySwiper {
  width: 60%;
  margin-left: 535px;
  border-radius: 16px;
  overflow: hidden;
  align-items: center;
}
